<div class="post-preview">
    <a href="/post">
        <h2 class="post-title">On forgiveness</h2>
    </a>
    <p class="post-subtitle">“𝐁𝐞𝐟𝐨𝐫𝐞 𝐲𝐨𝐮 𝐞𝐦𝐛𝐚𝐫𝐤 𝐨𝐧 𝐚 𝐣𝐨𝐮𝐫𝐧𝐞𝐲 𝐨𝐟 𝐫𝐞𝐯𝐞𝐧𝐠𝐞, 𝐝𝐢𝐠 𝟐 𝐠𝐫𝐚𝐯𝐞𝐬.” I first read this quote by Confucius 10 years ago when I started watching a TV series called “Revenge” on ABC. A poster of the drama series "Revenge" Then I heard it again in “Ex’s hate me” - a Vietnamese song by Bray, in …</p>
    <div class="entry-meta">
        <img alt="" src="https://1.gravatar.com/avatar/d8d1a5387b91eef8ee1bcc617c7d572b?s=24&amp;d=identicon&amp;r=G" height="24" width="24">
        <span>
            <span>
                <a href="/">Minh Tran</a>
            </span>
        </span>
        <span>
            <a href="/" rel="category tag">Self-reflection</a>
        </span>
        <span>
            <a href="/" rel="bookmark">
                <time datetime="2021-08-13T13:20:00+07:00">13/08/2021</time>
            </a>
        </span>
    </div>
</div>

@code {

}
