@page "/post"

<header>
    <h1>On forgiveness</h1>
    <div>
        <span>13/08/2022</span>
        <span>
            <a href="/" rel="category tag">Self-reflrction</a>
        </span>
    </div>
</header>

<div>
    <p>“𝐁𝐞𝐟𝐨𝐫𝐞 𝐲𝐨𝐮 𝐞𝐦𝐛𝐚𝐫𝐤 𝐨𝐧 𝐚 𝐣𝐨𝐮𝐫𝐧𝐞𝐲 𝐨𝐟 𝐫𝐞𝐯𝐞𝐧𝐠𝐞, 𝐝𝐢𝐠 𝟐 𝐠𝐫𝐚𝐯𝐞𝐬.”</p>
    <p>I first read this quote by Confucius 10 years ago when I started watching a TV series called “Revenge” on ABC.</p>
    <p>Then I heard it again in “Ex’s hate me” – a Vietnamese song by Bray, in which he wrote: “Khổng Tử nói là với trả thù luôn phải đào 2 mồ chôn.” =)).&nbsp;</p>
    <p>The theme of revenge is nothing if not timeless in arts, and as arts, to a certain extent, reflect human society, the practice of inflicting harm on those who have wronged us has always been part of our kind’s behaviour.</p>
    <p></p>
    <p>Growing up, we have been taught that revenge is a bad idea.</p>
    <p>Buying a gun and shooting the ex-boyfriend who cheated on us, however rewarding it feels in our mind, will definitely get us a slot in jail and a death sentence probably, as a result.&nbsp;</p>
    <p>He would be buried in the first grave, and the second one is ours. In this scenario, we can take Confucius’s words literally for aggression and violence are to be punished.</p>
    <p>Then I thought: Is there a healthy kind of revenge?</p>
    <p>Instead of killing him, we could seek vengeance by taking good care of ourselves, growing beautiful, inside and out, and achieving more career success.</p>
    <p>That sure sounds better because we do not physically hurt anyone here.</p>
    <p>Yes, but mentally we still do, and now the only person who goes down a grave is us.</p>
    <p>In The Choice, Dr. Edith Eger would tell us that the longer we let the idea of revenge live rent-free in our head, the longer we become a prisoner of the past.</p>
    <p>When we talk about forgiveness, we are not saying that what Hitler and the Nazi regime did with the Jewish community in Europe during World War II is ok because it is not. Holocaust was a scientific and systematic annihilation of 6 million people.&nbsp;</p>
    <p>What we are saying is we release ourselves from the string that ties us to our suffering, frustration, blame and anger over what happened to us. Maybe it was out of our control and we did not have a choice back then, but we have a choice now – a choice to live with the present and live for ourselves.</p>
    <p>These words are already powerful all by themselves, but when they come from an Auschwitz survivor, they somehow leave me forever changed.</p>
    <p>Dr. Eger taught me many new lessons with her own precious story and also her patients’ story with which I can relate so much.</p>
    <p>I feel as if she was talking directly to me when she wrote about beating ourselves up over a past mistake. Looking back, we see events that have already occurred as being more predictable than they were when they took place.</p>
    <p>This is called the Hindsight Bias (which I have recently learned on LinkedIn, thank you LinkedIn!)</p>
    <p>In hindsight, we should have sold that stock, spent more time with our father in the hospital, hugged that person more tightly before they left in the morning because we thought there were signs that the stock price would go down, it was the last time we saw our father alive and after that person got in the taxi, our lives parted forever.</p>
    <p>No, we could not see it coming because in reality, at the point of time when it happened, it was not easy to do so.</p>
    <p>With her every word, my whole body hurt, opening up the old emotional wounds that I thought were gone a long time ago, before I learned how to accept them, and eventually heal them.</p>
    <p>With The Choice, I choose the present over the past, hope over fear and forgiveness over revenge. And I hope (again) that you do too.</p>
    <p></p>
</div>

@code {

}
