@inherits LayoutComponentBase

<PageTitle>BlogApp.Blazor</PageTitle>

<div>
    <div>
        <NavMenu />
    </div>

    <div>
        <main style="display: flex; justify-content: center">
            <article class="content">
                @Body
            </article>
        </main>
    </div>
</div>
